<div class="center hero-unit">
  <h1>Welcome to the Baseball Score</h1>
  <h2>This is the home page for the Baseball Score</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("baseball_score.png", alt: "Score"), 'http://score.workaround.jp/' %>
